
/* HomePage Style sheet (index.html) */

nav {
    background: white;
    border-radius: 12px;
    padding: 25px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 900px;
    margin: 30px auto;
    transition: 0.3s ease;
}

nav h2 {
    color: #1e3a8a;
    border-bottom: 3px solid #2563eb;
    padding-bottom: 6px;
    font-size: 1.3rem;
    margin-top: 0;
}


nav ul {
    list-style: none;
    padding: 0;
    margin-top: 18px;
}

nav li {
    margin: 12px 0;
}

nav a {
    display: block;
    text-decoration: none;
    color: #2563eb;
    font-size: 1.05rem;
    padding: 10px 14px;
    border-radius: 8px;
    transition: all 0.25s ease;
    background: #f8fafc;
}

nav a:hover {
    background-color: #2563eb;
    color: white;
    transform: translateX(6px);
}


header h1 {
    background-color: #2563eb;
    color: white;
    padding: 20px 0;
    margin: 0;
    text-align: center;
    font-size: 2rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}


main {
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
}
